
@font-face {
    font-family: 'beatrice_displayXBdIt';
    src: url('beatrice_display_extrabold_italic-webfont.woff2') format('woff2'),
         url('beatrice_display_extrabold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'beatriceextrabold';
    src: url('beatrice_extrabold-webfont.woff2') format('woff2'),
         url('beatrice_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'louiseregular';
    src: url('louise-regular-webfont.woff2') format('woff2'),
         url('louise-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'media_sansblack';
    src: url('mediasans-black-webfont.woff2') format('woff2'),
         url('mediasans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'media_sansbold';
    src: url('mediasans-bold-webfont.woff2') format('woff2'),
         url('mediasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'media_sanslight';
    src: url('mediasans-light-webfont.woff2') format('woff2'),
         url('mediasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriad_proregular';
    src: url('myriadpro-regular-webfont.woff2') format('woff2'),
         url('myriadpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'stabil_condensedregular';
    src: url('stabilcondensed-regular-webfont.woff2') format('woff2'),
         url('stabilcondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    background-color: var(--yellow);
    cursor:url('http://upload.wikimedia.org/wikipedia/commons/d/de/POL_apple.jpg');
}
  
h1 {
    font-family: 'stabil_condensedregular', serif; 
    font-size: 16rem;
    color: var(--pink);
}

.text-rosso {
    font-family: 'media_sansbold', serif; 
    font-size: 3rem;
    color: var(--red);
    z-index: 100;
}

.biancogrande {
    font-family: 'beatrice_displayXBdIt', serif; 
    font-size: 7rem !important;
    color: white;
}

.small {
    font-size: 2rem;
}
h2 a {
    font-family: 'beatrice_displayXBdIt', serif; 
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

h2 a:hover {
    font-family: 'beatriceextrabold', serif; 
    color: var(--red);
    font-size: 1.5rem;
}

h3 {
    font-family: 'Media Sans', sans-serif;
    font-weight: 700;
    color: white;
}

:root {
    --pink: #E6007E;
    --yellow: #F7A600;
    --red: #CE0613;
}

.yellow {
    background-color: var(--yellow);
    max-height: 100vh;
    padding-top: 14vh;
}

.menu-sopra {
    position: fixed;
}

.menu-sotto {
    position: fixed;
    bottom: 0;
}
.data {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
}
.data>h3 {
    font-size: 3rem;
    line-height: 0.9;
}
.titolo {
    line-height: 0.4;
}
#and {
    font-family: 'louiseregular', sans-serif;
    color: var(--red);
    font-size: 17rem;
}


#seconda {
    background-image: url(../assets/fiori_ann.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 200%;
    background-position-x: 60%;
}

.nomi {
    font-size: 6rem;
    line-height: 0.9rem;
}
#and2 {
    font-family: 'louiseregular', sans-serif;
    color: var(--red);
    font-size: 11rem;
}
.annuncio>h3 {
    font-family: 'beatrice_displayXBdIt';
    font-size: 2rem;
    line-height: 0.9;
}
.annuncio {
    position: absolute;
    top: 147%;
    left: 0;
}
#ann {
    font-size: 1.7rem;
}
#gioia {
    font-size: 0.8rem;
    margin-left: -6.5rem;
    line-height: 0.1;
}
#gi {
    font-size: 1.3rem;
}
#mat {
    font-size: 2.3rem;
    margin-left: 8rem;
    line-height: 0.5;
}
.fiori {
    margin-top: -10rem;
}
#fiori {
    width: 30vh;
    transform: rotate(30deg);
    margin-left: 4rem;
}
#chiesa {
    width: 40vw;
}

#cerimonia {
   
    background-image: url(../assets/chiesa.png);
    background-size: 33%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 45%;
    
   
}   

.macro-cerimonia {
    padding-top: 25vh;
}
.chiesa {
    position: absolute;
    top: 230vh;
    z-index: 99;
}
#fioricer {
    width: 15vw;
    transform: rotate(-45deg);
}
.fioricer {
    position: absolute;
    top: 240vh;
}
#ricevimento {

  
   background-image: url(../assets/pozzo.png);
   background-size: 40%;
   background-repeat: no-repeat;
   background-position: center;
   

}
#ric {
    margin-left: 5rem;
}
#pozzo {
    width: 40vw;
}

.pozzo {
    position: absolute;
    top: 330vh;
    z-index: 99;
}

button {
    background-color: white;
    border: none;
    border-radius: 30px;
    color: var(--yellow);
    font-family: 'media_sansblack';
    padding: 0.8rem 1.5rem;
}
.testi {
    padding-top: 38vh;
}
.smallwhite {
    font-size: 3rem !important;
    margin-bottom: -5rem;
}
.conf {
    margin-bottom: -2rem;
}
#pres {
    font-size: 10rem !important;
}
#gatto {
    width: 60vw;
}

.gatto {
    position: absolute;
    top: 520vh;
    left: 30vw;
    z-index: 99;
}
#rsvp {
    background-image: url(../assets/gatto.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 170%;
   
    background-color: var(--red);
    height: 100vh;
}
.form {

    margin-left: 25vw;
}
#lista {
    height: 100vh;
    background-image: url(../assets/fiori_listan.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    

}
.iban {
    background-color: white;
    border-radius: 30px;
    padding: 1rem;
}
#regali {
    height: 100vh;
    
}

#regali3 {
    margin-top: -20vh;
    margin-bottom: 5vh;
   
}

.item {
    width: 20vw;
}
.tav {
    width: 90vw;
}
.balena {
    height: 105vh;
}

section {
    height: 100vh;
}

#tazzine {
    background-image: url(../assets/tazzine.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#godmorgon {
    background-image: url(../assets/godmorgon.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#comodini {
    background-image: url(../assets/comodini.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#evedal {
    background-image: url(../assets/evedal.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#water {
    background-image: url(../assets/water.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#letto {
    background-image: url(../assets/letto.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#oliera {
    background-image: url(../assets/oliera.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#abatjours {
    background-image: url(../assets/abatjours.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#macchina {
    background-image: url(../assets/macchina.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.regali {
    height: 35vh;
}

.tasti-regali {
    position: relative;
    top:65%;
}

.tasto-balena {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.tasti-regali:hover, .tasto-balena:hover, button:hover {
    background-color: var(--pink);
}

.centraverticale {
    position: relative;
    top:15%;
}
.desideri {
    font-family: 'stabil_condensedregular', serif;
    color: var(--red);
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
#iban1 {
    margin-left: 2rem;
}
.rosalista {
    color: var(--pink);
    font-family: 'media_sansbold', sans-serif;
    font-size: 1rem;
}
.rosa {
    margin-left: 1rem;
}
.rosa2 {
    margin-left: 6rem;
}
.des-div {
    font-family: 'beatriceextrabold';
    font-size: 1.8rem;
}
#tavolo {
    height: 30vh;
    background-image: url(../assets/tavolo.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center; 
}


#frase {
    background-color: black;
    padding-top: 20vh;
    padding-bottom: 40vh;
}

.fiori-finale {
    position: relative;
    top: 10%;
    background-image: url(../assets/fiori.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center; 
}

#porta {
    background-color: black;
    background-image: url(../assets/door.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center; 
}

.regalinome {
    color: var(--pink);
}

.frasi {
    font-family: 'stabil_condensedregular', serif;
    color: white;
    font-size: 2.3rem;
    line-height: 2.2rem;
}
.cit {
    color: var(--yellow);
    font-family: 'media_sansbold', sans-serif;
}


#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#oppure {
    font-family: 'beatrice_displayXBdIt';
    color: var(--pink);
    font-size: 1.8rem;
    line-height: 2rem;
}
#freccia {
    font-family: 'beatriceextrabold';
    font-size: 3rem;
}
#iban2 {
    margin-bottom: 1rem;
}
.list {
    line-height: 0.6;
}
#lista {
    padding-top: 17vh;
}
#list1 {
    font-size: 5rem !important;
    margin-left: 20vw;
    margin-top: 10vh;
}
.listanoz {
    margin-top: 12vh;
}

@media only screen and (max-width: 600px) {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden !important;
    }
}